<form>
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="latitude" name="latitude" placeholder="Latitude">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="longitude" name="longitude" placeholder="Longitude">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" [(ngModel)]="radius" name="radius" placeholder="Radius">
  </mat-form-field>
  <button mat-raised-button (click)="updateMarkerByForm()">Update Marker</button>
  <button mat-raised-button (click)="activateIntersectingPoints()">Check Intersections</button>
</form>

<div leaflet
     [leafletLayers]="layers"
     [leafletOptions]="options"
     (leafletDoubleClick)="updateMarkerClick($event)"
     (leafletMapZoomEnd)="zoomEnd()"
     (leafletMapReady)="onMapReady($event)"
     class="leaflet-outer" style="
  height: 70vh;
  min-height: 400px;"
></div>

<form>
  <app-autocomplete-input>

  </app-autocomplete-input>
</form>
